{% extends "header.html"%}

{% block content %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="/static/images/video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>Looking for <em>job</em> or <em>employee?</em></h2>
                <h6>Sign up/in to view all offers or publish your own</h6>
                <hr>
                <div class="main-button">
                    <a href="{% url 'signup' %}">Sign Up Now</a>
                    <a href="{% url 'login' %}">Sign In Now</a>
                </div>
                <hr>
                <h6>or view our most recent job offers</h6>
                <hr>
                <div class="main-button">
                    <a href="{% url 'recent jobs' %}">Recent jobs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2021 <a href="{% url 'front page' %}">Jobs Board</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}


  </body>
</html>