{% extends "header.html"%}

{% block content %}
    <script src="/static/js/show-contacts.js"></script>

     <section class="section section-bg" id="call-to-action" style="background-image: url({{ job.image_url }})">
        <div class="container">
            <div class="row">
               <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2><em>{{ job.wage }}$</em></h2>
                        <p>{{ job.title }}</p>

                        <div class="main-button">
                          <a href="javascript:void(0)" id="contacts-button">Click for contact details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="trainers">
        <div class="container">
            <div class="col-lg-8">
                <section class='tabs-content' style="width: 100%;">
                    <article id='contact-details' hidden>
                        <h4>Contact Details</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Name</label>
                                <p>{{ job.contact_name }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Phone</label>
                                <p>{{ job.contact_phone }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Email</label>
                                <p><a href="mailto:{{ job.contact_email }}?subject={{ job.title }}">{{ job.contact_email }}</a></p>
                            </div>
                            <div class="col-sm-6">
                                <label>Website</label>
                                <p><a href="{{ job.website }}">{{ job.website }}</a></p>
                            </div>
                        </div>
                  </article>

                  <article id='tabs-1'>
                      <h4>Job Description</h4>
                      <p>
                          {{ job.long_description }}
                      </p>
                  </article>
                </section>
            </div>
        </div>
    </section>



    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2021 <a href="">Jobs Board</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

  </body>
</html>