{% extends "header.html"%}

{% block content %}
       <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="assets/images/video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>Sign up!</h2>
                <form method="post" action=".">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="field">
                        <div class="control">
                            <button class="button is-success" type="submit">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>